<div ng-mouseover="show1=true" ng-mouseleave="show1=false" style="padding-left: 10px;">
	<div ng-repeat="account in accounts" ng-animate="'fade'"  style="margin: 5px; width: 200px; padding: 2px 10px 2px 10px; border-right: solid #cccccc 1px;  box-shadow: 4px 0px 7px -4px rgba(205,205,205,1); float: left;">
		<div style="font-family: roboto; font-weight: 300; font-size: 18px; color: #555555;">
			<a href="#/accounts/{{account.name}}/transactions"  style="color: #555555;">{{account.description}}</a>
		</div>
		<div>
			<sparkline data="sparklines[account.name]"></sparkline>
		</div>
		<div ng-animate="'fade'" class="balanceAmount" style="background-color: rgba(255, 255, 255,0.9); position: relative;  font-family: 'roboto black'; font-size: 18px; padding-left: 5px; line-height: 30px; height: 30px; margin-top: -30px; text-align: left;" ng-show="show1">
			{{account.balance < 0 ? "(" : ""}}{{account.balance | number:2}} <span style="font-size: 8pt; font-family: roboto; font-weight: 300; ">EUR</span>{{account.balance < 0 ? ")" : ""}}
		</div>
		<div  style="font-family: 'roboto'; font-size: 7pt; color: #999999;">
			<b>{{account.bank}} {{account.name}}</b><br/>
			{{account.bic}} / {{formatIBAN(account.iban)}}
		</div>
	</div>
</div>