<div class="row">
  <div class="span3">
    <div class="pa-sidebar well">
      <ul class="nav nav-list">
        <li class="nav-header">Accounts</li>
        <li ng-repeat="account in accounts" ng-animate="'fade'"
            ng-class="{ active: $state.includes('accounts.transactions') && $stateParams.accountId == account.id }">
          <a href="#/accounts/{{account.name}}/transactions"><b>{{account.name}}</b> {{account.balance | number:2}}{{account.balance < 0 ? " DR" : ""}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="span5" ui-view ng-animate="{enter:'fade-enter'}"></div>
</div>