<div>
	<md-toolbar md-theme="deep-orange"  ui-view="headerview">
	
	</md-toolbar>
	<div flex layout="vertical" layout-sm="horizontal">
		<md-sidenav class="md-sidenav-left md-whiteframe-z2" flex-sm="20" flex-md="15" component-id="left" is-locked-open="true">
			<div ui-view="accountview">
		      Menu<br>
		      [flex-sm="33"][flex-md="20"]
		    </div>
		</md-sidenav>
		
	    <main style="background: #ececec;" flex ui-view="mainview">
	      Main [flex]
	    </main>
	    
		<md-sidenav class="md-sidenav-right md-whiteframe-z2" flex-sm="20" flex-md="15" component-id="right" is-locked-open="true">
			<div ui-view="rightview">
		      Menu<br>
		      [flex-sm="33"][flex-md="20"]
		    </div>
	    </md-sidenav>
	    
	</div>
</div>
