<div style="height: 65px;">
	<div ui-view="headerview"></div>
	
</div>
<!-- CSS for 3-column layout http://www.dynamicdrive.com/style/layouts/item/css-liquid-layout-31-fixed-fluid-fixed/ -->
<div style="clear: both;">
	<div style="float: left; width: 100%;">
		<div ui-view="mainview" style="margin: 0 300px 0 220px;"></div>
	</div>
	<div ui-view="accountview" style="width: 220px; float: left; margin-left: -100%;"></div>
	<div ui-view="rightview" style="width: 300px; float: left; margin-left: -300px;"></div>
</div>

<div ng-controller="ModalDemoCtrl">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3>I'm a modal!</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a ng-click="selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
</div>