<div id="transactionList">

	<table class="table table-condensed">
		<!-- Pending transactions first -->	
		<tr style="color: #999;" ng-repeat="pendingtransaction in pendingtransactions" ng-animate="'fade'">
			<td style="width: 60px;"><center>
				<div style="">
					<div style="background: red; color: white; font-size: 10pt; font-weight: 900; -webkit-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0;">{{pendingtransaction.dateAddedAsDate | date:"MMM" | uppercase}}</div>
					<div style="border: 1px solid #c8c8c8; -webkit-border-radius: 3px; border-radius: 3px; border-bottom-width: 2px; font-size: 15pt; font-weight: 300; color: #333; background: white;">{{pendingtransaction.dateAddedAsDate | date:"d"}}</div>
				</div>
			</center></td>
			<td>
				<b style="font-size: 15px;"><span ng-show='!$stateParams.accountName' style="font-weight: 300;">{{pendingtransaction.account}} &ndash; </span>{{pendingtransaction.narrative}}</b>
				<small><em style="font-weight: 300;">&nbsp;&nbsp;PENDING</em></small>
			</td>
			<td style="text-align: right">{{pendingtransaction.amount | number:2}}</td>
			<td><small>DR</small></td>
		</tr>
	
		<!-- then posted transactions -->	
		<tr ng-repeat="transaction in transactions" ng-animate="'fade'" ng-mouseenter="showMenu=true" ng-mouseleave="showMenu=false" ng-init="showMenu=false">
			<td style="width: 60px;"><center>
				<div ng-hide="sameDate($index)">
					<div style="background: red; color: white; font-size: 10pt; font-weight: 900; -webkit-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0;">{{transaction.transaction.transDate | date:"MMM" | uppercase}}</div>
					<div style="border: 1px solid #c8c8c8; -webkit-border-radius: 3px; border-radius: 3px; border-bottom-width: 2px; font-size: 15pt; font-weight: 300; color: #333; background: white;">{{transaction.transaction.transDate | date:"d"}}</div>
				</div>
			</center></td>
			<td>
			<b style="font-size: 15px;">
				<span ng-show='!$stateParams.accountName' style="font-weight: 300;">{{transaction.transaction.account}} &ndash; </span>
				<span ng-click="moveMap($index)">{{transaction.transaction.narrative}}</span>
			</b> 
			<small><em class="muted" style="font-weight: 300;">{{transaction.transaction.subNarrative}}</em></small>
			<small><em ng-show="showMenu" class="muted" style="font-weight: 300;"><span class="dropdown" on-toggle="toggled(open)">
			      <a href class="dropdown-toggle">
			        Options
			      </a>
			      <ul class="dropdown-menu">
			      	<li><a ng-click="markAsRegularTransaction($index)" href>Mark as a Regular Transaction</a></li>
			      </ul>    
			</span></em></small>
			<span ng-show="transaction.transaction.transferTransId" style="-webkit-border-radius: 3px; border-radius: 3px; margin-left: 10px; padding: 2px 5px 1px 3px; color: white; background: #ff6f31;">
				<span style="margin-left: -5px; padding-right: 7px; font-size: 15px; font-family: 'Wingdings 3';">&#198;</span>
				<span style=" font-size: 14px; font-weight: 300;">{{getTransferTransaction(transaction.transaction.transferTransId).account}}</span>
			</span>
			<br/>
			<div>
 			<div ng-click="editTransaction($index)" ng-show="!transaction.transaction.comment && !editingTransaction[$index]"  style="font-weight: 300;">no comment</div>
			<div ng-click="editTransaction($index)" ng-show="transaction.transaction.comment && !editingTransaction[$index]" ng-bind-html="parseHashtags(transaction.transaction.comment) | to_trusted_html"  style="font-weight: 300;"></div>
			<div ng-show="editingTransaction[$index]"><form novalidate>
				<input style="width: 500px" type="text" ng-focus="editingTransaction[$index]" ng-model="transaction.transaction.comment"/>
				<button ng-click="updateTransaction($index)">done</button>
				</form></div>
			</div>
			</td>
			<td style="text-align: right">{{transaction.transaction.amount | number:2}}</td>
			<td><small>{{transaction.transaction.isDR ? "DR" : ""}}</small></td>
		</tr>
	</table>
</div>
